@implements IDisposable
@page "/devices"

<ChdAuthorizeView Rights="[RightConstants.IS_ADMIN]" TUserId="Guid" TRightId="int">
    <div class="users-container">
        <Table Items="this._deviceLst">
            <HeaderContent>
                <TableHead>Gerät</TableHead>
                <TableHead><CustomIcon FAClass="users" /></TableHead>
                <TableHead></TableHead>
            </HeaderContent>
            <RowTemplate Context="device">
                <TableData>@device.ToString()</TableData>
                <TableData><IconButton FAClass="folder-open" OnClick="async () => await this.OpenUserDeviceModal(device)" /></TableData>
                <TableData><IconButton FAClass="pencil" OnClick="async () => await this.OpenDeviceModal(device)" /></TableData>
            </RowTemplate>
        </Table>
    </div>
</ChdAuthorizeView>
@code {
    [Inject] IUserService userService { get; set; }

    private CancellationTokenSource _cts = new();


    private IEnumerable<PSDeviceDto> _deviceLst = [];

    protected override async Task OnInitializedAsync()
    {
        this._deviceLst = await this.userService.GetDevicesAsync(this._cts.Token);
        await base.OnInitializedAsync();
    }
    private async Task OpenDeviceModal(PSDeviceDto device)
    {

    }
    private async Task OpenUserDeviceModal(PSDeviceDto device)
    {
        var userDevices = await this.userService.GetUserDevicesToDeviceAsync(device.UID, this._cts.Token);
    }


    public void Dispose()
    {
        this._cts.Cancel();
    }
}
