@implements IDisposable
@page "/devices"
@using chd.Poomsae.Scoring.UI.Components.Shared.Admin

<ChdAuthorizeView Rights="[RightConstants.IS_ADMIN]" TUserId="Guid" TRightId="int">
    <div class="users-container">
        <Table Items="this._deviceLst">
            <HeaderContent>
                <TableHead>Gerät</TableHead>
                <TableHead></TableHead>
            </HeaderContent>
            <RowTemplate Context="device">
                <TableData>@device.ToString()</TableData>
                <TableData><IconButton FAClass="pencil" OnClick="async () => await this.OpenDeviceModal(device)" /></TableData>
            </RowTemplate>
        </Table>
    </div>
</ChdAuthorizeView>
@code {
    [Inject] IUserService userService { get; set; }
    [Inject] IModalService modalService { get; set; }

    private CancellationTokenSource _cts = new();


    private IEnumerable<PSDeviceDto> _deviceLst = [];

    protected override async Task OnInitializedAsync()
    {
        this._deviceLst = await this.userService.GetDevicesAsync(this._cts.Token);
        await base.OnInitializedAsync();
    }
    private async Task OpenDeviceModal(PSDeviceDto device)
    {
        await this.modalService.Show<DeviceDetailModal>(new ModalParameters()
        {
            {nameof(DeviceDetailModal.DeviceDto),device}
        }, new ModalOptions()
        {
            HideHeader = true,
            Size = ModalSize.ExtraLarge
        }).Result;

    }

    public void Dispose()
    {
        this._cts.Cancel();
    }
}
