
.page:not(.ios) .fighters-container{
    margin-top: 3rem;
}

.fighters-container {
    margin: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 0.2rem 0.4rem;
    background: var(--chd-bg-lighter);
    border-radius: 1rem;
}
