@using chd.Poomsae.Scoring.UI.Components.Pages.Base
@using chd.Poomsae.Scoring.UI.Components.Shared
@using chd.Poomsae.Scoring.UI.Components.Shared.Fighters
@using chd.Poomsae.Scoring.UI.Extensions
@using chd.UI.Base.Components.General.Search
@using chd.UI.Base.Contracts.Enum
@inherits BaseClientComponent
@page "/fighters"

<div class="fighters-container">
    @foreach (var fighter in this.fighterDataService.Fighters.OrderBy(o => o.Lastname).ThenBy(o => o.Firstname))
    {
        <FighterRow Reload="async () => await this.InvokeAsync(this.StateHasChanged)" Fighter="@fighter" SetBlue="this.SetBlue" SetRed="this.SetRed" />
    }
</div>

<FloatingActionNavigation FAIconActive="user-plus" TextActive="@TextConstants.AddFighter" OnClick="this.AddFighter">
    <FloatingActionButton FAClass="ranking-star" Title="@TextConstants.PrintResult" OnClick="this.ChooseForResult" />
</FloatingActionNavigation>


@code {

    [Inject] IFighterDataService fighterDataService { get; set; }

    protected override string _navigationTitle => "Teilnehmer";

    protected override async Task OnInitializedAsync()
    {
        this._backButton.RightClick = this.AddFighter;
        await this._backButton.SetTitle(this._navigationTitle, this._navigationBackTitle, "plus");


        await this._deviceHandler.ResetOrientation();

        await base.OnInitializedAsync();
    }

    protected override Task Clear()
    {
        return base.Clear();
    }

    protected override async Task OnResultReceived(ScoreReceivedEventArgs e)
    {
        await this.InvokeAsync(this.StateHasChanged);
    }

    protected override async Task OnDeviceFound(DeviceDto e)
    {
        await base.OnDeviceFound(e);
        await this.Send(e);

    }

    protected override async Task OnDeviceDisconncted(DeviceDto e)
    {
        await this.InvokeAsync(this.StateHasChanged);
    }

    private async Task ChooseForResult()
    {
        var parameters = new ModalParameters
            {
                { nameof(MultiSelectModalComponent<FighterDto>.Items), this.fighterDataService.Fighters},
                { nameof(MultiSelectModalComponent<FighterDto>.RenderType),typeof(FighterSearchItem) },
                { nameof(MultiSelectModalComponent<FighterDto>.RenderParameterDict),(FighterDto dto)=> MultiSelectModalComponent<FighterDto>.CreateRenderParameterDict(dto,((x)=> nameof(FighterSearchItem.Fighter),(x)=>x))},
                { nameof(MultiSelectModalComponent<FighterDto>.SelectAllText), "Alles auswählen"},
                { nameof(MultiSelectModalComponent<FighterDto>.SelectNoneText), "Alles abwählen"},
                { nameof(MultiSelectModalComponent<FighterDto>.ShowCount), false},

                { nameof(MultiSelectModalComponent<FighterDto>.ConfirmText), "Übernehmen"},
            };
        var modalInstance = this._modalService.Show<MultiSelectModalComponent<FighterDto>>("Teilnehmer Suche", parameters);

        var result = await modalInstance.Result;
        if (result.Confirmed && result.Data is List<FighterDto> fighterLst)
        {
        }
    }

    private async Task AddFighter()
    {
        var fighter = new FighterDto();
        var res = await this._modalService.Show<FighterModal>("Teilnehmer", new ModalParameters() {
        { nameof(FighterModal.Fighter), fighter },
        {nameof(FighterModal.IsNew),true}
    }, new ModalOptions()
    {
        Size = ModalSize.ExtraLarge,
    }).Result;
        if (res.Confirmed && res.Data is ModalResultDto<FighterDto> dto
        && dto.Action is EDataAction.Add)
        {
            await this.fighterDataService.AddFighter(dto.Data);
            await this.InvokeAsync(this.StateHasChanged);
        }
    }

    private async Task SetBlue(FighterDto fighterDto)
    {
        await this.fighterDataService.SetBlue(fighterDto);
        await this.InvokeAsync(this.StateHasChanged);
    }
    private async Task SetRed(FighterDto fighterDto)
    {
        await this.fighterDataService.SetRed(fighterDto);
        await this.InvokeAsync(this.StateHasChanged);
    }

    private async Task Send(DeviceDto device)
    {
        await this.broadcastClient.SendFighter(this.fighterDataService.CurrentBlue, EScoringButtonColor.Blue, device);
        await this.broadcastClient.SendFighter(this.fighterDataService.CurrentRed, EScoringButtonColor.Red, device);
    }

    public override void Dispose()
    {
        base.Dispose();
    }

}
