.run-container {
    display: grid;
    width: 100%;
    height: 100vh;
}

    .run-container .fighter-container {
        display: grid;
        grid-template-columns: auto 20% auto;
        border-bottom: 1px solid var(--chd-font-color);
        grid-gap: 0.5rem;
        padding: 0.5rem;
        height: 30vh;
    }

        .run-container .fighter-container .run-middle {
            border: 1px solid var(--chd-font-color);
            border-radius: 1.5rem;
        }

    .run-container .scoring-container {
        height: 70vh;
        display: grid;
        grid-template-columns: auto 35% auto;
    }

        .run-container .scoring-container .scoring-middle {
            
        }

            
