.home-container {
    height: auto;
    width: 100%;
    display: grid;
    gap: 0.5rem;
    padding: 1rem 0.2rem;
}

    .home-container .home-card {
        border: 1px solid;
        border-radius: 0.5rem;
        padding: 0.5rem;
        display:flex;
        align-items:center;
        gap: 0.5rem;
        font-size: 1.5rem;
    }

        .home-container .home-card:nth-child(odd) {
            background: var(--chd-p-blue-gradient);
        }

        .home-container .home-card:nth-child(even) {
            background: var(--chd-p-red-gradient);
        }

        .home-container .home-card:nth-child(odd):has(:hover) {
            background: none;
            color: var(--chd-p-blue-accent);
        }

        .home-container .home-card:nth-child(even):has(:hover) {
            background: none;
            color: var(--chd-p-red-accent);
        }

        .home-container .home-card .logo {
        }

            .home-container .home-card .logo ::deep svg {
                height: 4rem;
            }

        .home-container .home-card:nth-child(even):has(:hover) .logo ::deep svg {
            fill: var(--chd-p-red);
        }

        .home-container .home-card:nth-child(odd):has(:hover) .logo ::deep svg {
            fill: var(--chd-p-blue)
        }

        .home-container .home-card .text {
        }

@media only screen and (orientation:portrait) {
    .home-container .home-card {
        min-width: 12rem;
        font-size: 1.5rem;
    }
}

@media only screen and (min-height: 600px) and (orientation: landscape) {
    .home-container .home-card {
        min-width: 17rem;
        font-size: 2.5rem;
    }
}
