.run-container {
    display: grid;
    width: 100%;
    grid-gap: 0.5rem;
}

    .run-container .fighter-container {
        display: grid;
        grid-template-columns: auto 20% auto;
        border-bottom: 1px solid var(--chd-font-color);
        grid-gap: 0.5rem;
        padding: 0.5rem;
    }

        .run-container .fighter-container .run-middle {
            border: 1px solid var(--chd-font-color);
            border-radius: 0.5rem;
        }

    .run-container .scoring-container {
        display: grid;
        grid-template-columns: auto 35% auto;
    }

        .run-container .scoring-container .scoring {
            display: grid;
            gap: 15%;
        }

            .run-container .scoring-container .scoring.scoring-hong {
                justify-items: end;
            }

                .run-container .scoring-container .scoring.scoring-hong .scoring-button {
                    justify-items: end;
                }

            .run-container .scoring-container .scoring .scoring-button {
                width: 90%;
                border-radius: 0 3rem 3rem 0;
                padding: 0.1rem 0;
            }

            .run-container .scoring-container .scoring.scoring-chong .scoring-button {
                background-color: royalblue;
            }

            .run-container .scoring-container .scoring.scoring-hong .scoring-button {
                background-color: red;
                border-radius: 3rem 0 0 3rem;
            }

            .run-container .scoring-container .scoring .scoring-button .scoring-button-inner {
                height: 100%;
                width: 80%;
                border-radius: 0 3rem 3rem 0;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                border-right: 1px solid black;
                background-color: deepskyblue;
            }

            .run-container .scoring-container .scoring.scoring-hong .scoring-button .scoring-button-inner {
                background-color: indianred;
                border-radius: 3rem 0 0 3rem;
                border-left: 1px solid black;
                border-right: 0px;
            }

            .run-container .scoring-container .scoring .scoring-button.scoring-button-big {
                height: 110%;
            }

            .run-container .scoring-container .scoring .scoring-button.scoring-button-small {
                height: 80%;
            }

        .run-container .scoring-container .scoring-middle {
            
        }

            
