@page "/"

<div class="home-container">
    <div class="home-card" @onclick="()=>this.GoTo(SINGLE)">
        <div class="logo"><CustomIcon FAClass="person" /></div>
        <div class="text">@TextConstants.Single</div>
    </div>
    <div class="home-card" @onclick="()=>this.GoTo(ELIM)">
        <div class="logo"><CustomIcon FAClass="people" /></div>
        <div class="text">@TextConstants.Single</div>
    </div>
    <div class="home-card" @onclick="()=>this.GoTo(RESULTS)">
        <div class="logo"><CustomIcon FAClass="ranking-star" /></div>
        <div class="text">@TextConstants.Results</div>
    </div>
</div>


@code {
    const string SINGLE = "singlescore";
    const string ELIM = "eliminationscore";
    const string RESULTS = "results";

    [Inject] NavigationManager _navigationManager { get; set; }

    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
    }

    private void GoTo(string path)
    {
        this._navigationManager.NavigateTo(path, false);
    }
}