.result-container {
    height: 100%;
    width: 100%;
    display: grid;
}

    .result-container .total-results {
        display: grid;
        grid-template-columns: auto auto;
        height: max-content;
        color: white;
    }

        .result-container .total-results .total-result {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
        }

            .result-container .total-results .total-result .total {
                width: 100%;
                font-size: 6.5rem;
                line-height: 6.5rem;
                text-align: center;
                font-weight: bold;
                padding: 0.5rem;
            }

            .result-container .total-results .total-result.chong .total {
                background-color: var(--chd-p-blue);
            }

            .result-container .total-results .total-result.hong .total {
                background-color: var(--chd-p-red);
            }

            .result-container .total-results .total-result .detail {
                width: 50%;
                font-size: 3rem;
                line-height: 3rem;
                text-align: center;
                border: 1px solid var(--chd-font-color);
                padding: 0.5rem;
            }

                .result-container .total-results .total-result .detail.accuracy {
                    color: orangered;
                }

                .result-container .total-results .total-result .detail.presentation {
                    color: darkorange;
                }

    .result-container .judge-results {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,auto);
    }

        .result-container .judge-results .judge-result {
            display: flex;
            flex-direction: column;
        }

            .result-container .judge-results .judge-result.chong {
            }

            .result-container .judge-results .judge-result.hong {
            }

            .result-container .judge-results .judge-result .judge {
                display: grid;
                grid-template-columns: repeat(3,auto);
            }

                .result-container .judge-results .judge-result .judge .name {
                }

                .result-container .judge-results .judge-result .judge .score {
                }
