.users-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.2rem;
}

    .users-container .user-row {
        display: grid;
        grid-template-columns: repeat(4,auto) max-content;
        border-radius: 0.2rem;
    }

        .users-container .user-row:nth-child(even) {
            background: var(--chd-grey-semi-transparent);
        }

        .users-container .user-row .user-data {
            padding: 0.2rem;
        }

            .users-container .user-row .user-data.action {
            }

                .users-container .user-row .user-data.action ::deep svg {
                    height:0.8rem;
                }
