
* {
    /*Device*/
    --sidebar-width-small: 3rem !important;
    --top-header-height: 0 !important;
    --main-article-padding-lr: 0 !important;
    --main-article-height: calc(100% - var(--top-header-height)) !important;
    --sidebar-toggle-top: calc(var(--top-header-height) + 0.5rem) !important;
    --main-article-available-height: 100% !important;
    --chd-p-blue: rgb(65,105,225);
    --chd-p-blue-transparent: rgba(65,105,225,0.1);
    --chd-p-blue-semi-transparent: rgba(65,105,225,0.5);
    --chd-p-blue-gradient-top: linear-gradient(to top,var(--chd-p-blue) 0%,var(--chd-p-blue-semi-transparent) 90%);
    --chd-p-blue-semi-gradient-middle: linear-gradient(to left,transparent,var(--chd-p-blue-semi-transparent), var(--chd-p-blue-semi-transparent),transparent);
    --chd-p-blue-semi-gradient: linear-gradient(to left, var(--chd-p-blue-semi-transparent) 0%,var(--chd-p-blue-transparent) 50%, transparent);
    --chd-p-blue-semi-gradient-top: linear-gradient(to top,var(--chd-p-blue-semi-transparent) 0%,var(--chd-p-blue-transparent) 99%);
    --chd-p-blue-gradient: linear-gradient(to right,var(--chd-p-blue) 0%,var(--chd-p-blue-transparent) 100%);
    --chd-p-blue-gradient-left: linear-gradient(to left, var(--chd-p-blue) 0%,var(--chd-p-blue-transparent) 90%);
    --chd-p-blue-accent: rgb(0,191,255);
    --chd-p-blue-accent-transparent: rgba(0,191,255,0.1);
    --chd-p-blue-accent-semi-transparent: rgba(0,191,255,0.5);
    --chd-p-blue-accent-gradient: linear-gradient(to right, var(--chd-p-blue-accent) 0%,var(--chd-p-blue-accent-transparent) 90%);
    --chd-p-blue-accent-gradient-left: linear-gradient(to left, var(--chd-p-blue-accent) 0%,var(--chd-p-blue-accent-transparent) 90%);
    --chd-p-red-accent: rgb(205,92,92);
    --chd-p-red-accent-transparent: rgba(205,92,92,0.1);
    --chd-p-red-accent-semi-transparent: rgba(205,92,92,0.5);
    --chd-p-red-accent-gradient: linear-gradient(to right,var(--chd-p-red-accent) 0%,var(--chd-p-red-accent-transparent) 90%);
    --chd-p-red-accent-gradient-left: linear-gradient(to left, var(--chd-p-red-accent) 0%,var(--chd-p-red-accent-transparent) 90%);
    --chd-p-red: rgb(255,0,0);
    --chd-p-red-transparent: rgba(255,0,0,0.1);
    --chd-p-red-semi-transparent: rgba(255,0,0,0.5);
    --chd-p-red-semi-gradient-middle: linear-gradient(to left,transparent,var(--chd-p-red-semi-transparent), var(--chd-p-red-semi-transparent),transparent);
    --chd-p-red-gradient-top: linear-gradient(to top, var(--chd-p-red) 0%,var(--chd-p-red-semi-transparent) 90%);
    --chd-p-red-semi-gradient-top: linear-gradient(to top, var(--chd-p-red-semi-transparent) 0%,var(--chd-p-red-transparent) 99%);
    --chd-p-red-gradient: linear-gradient(to right, var(--chd-p-red) 0%,var(--chd-p-red-transparent) 90%);
    --chd-p-red-gradient-left: linear-gradient(to left, var(--chd-p-red) 0%,var(--chd-p-red-transparent) 90%);
    --chd-p-red-semi-gradient-left: linear-gradient(to right, var(--chd-p-red-semi-transparent) 0%,var(--chd-p-red-transparent) 50%, transparent);
    --chd-p-red-blue-semi-gradient: linear-gradient(to right, var(--chd-p-red-semi-transparent),var(--chd-p-red-transparent),transparent, var(--chd-p-blue-transparent), var(--chd-p-blue-semi-transparent));
    /*--chd-p-red-gradient-left: linear-gradient(to left,transparent 0%, var(--chd-p-red) 10%,var(--chd-bg) 90%);*/
    --chd-bluetooth-blue: rgb(0,130,252);
    --chd-p-accuracy: rgb(255,69,0);
    --chd-p-accuracy-gradient-top: linear-gradient(to top, var(--chd-p-accuracy) 0%,var(--chd-p-accuracy-transparent)99%);
    --chd-p-accuracy-semi-transparent: rgba(255,69,0,0.5);
    --chd-p-accuracy-transparent: rgba(255,69,0,0.1);
    --chd-p-presentation: rgb(255,140,0);
    --chd-p-presentation-transparent: rgba(255,140,0,0.1);
    --chd-p-presentation-semi-transparent: rgba(255,140,0,0.5);
    --chd-p-presentation-gradient-top: linear-gradient(to top, var(--chd-p-presentation) 0%,var(--chd-p-presentation-transparent)99%);
    --chd-p-total: yellow;
    --floating-action-button-bottom: 0rem !important;
    --nav-toggle-height: 0 !important;
}

    *::-webkit-scrollbar {
        display: none;
    }

.fab-navigation {
}

    .fab-navigation .fab-navigation-control {
    }

        .fab-navigation .fab-navigation-control .btn {
            border-radius: calc(var(--floating-action-navigation-size) / 3) !important;
        }

/*Modal*/
.bm-container {
    z-index: 902;
}

.blazored-modal {
    background-color: var(--chd-bg) !important;
    color: var(--chd-font-color) !important;
    max-width: 80vw !important;
    max-height: 80vh !important;
    overflow: scroll !important;
    border-color: var(--chd-main-color-theme) !important;
}

    .blazored-modal.size-extra-large {
        padding: 0.5rem;
        width: 90vw;
        height: max-content;
    }

    .blazored-modal .bm-close {
        color: var(--chd-font-color) !important;
    }

    .blazored-modal::-webkit-scrollbar {
        display: none;
    }

    .blazored-modal .bm-header {
        padding: 0 !important;
    }


    .blazored-modal .blazored-modal-content {
        overflow: auto;
    }


@media (max-width: 360px) {
    * {
        --nav-toggle-height: 1.2rem !important;
        --top-header-padding-tb: 0.2 !important;
        --top-header-height: 1.5rem !important;
        --main-article-height: calc(100vh - calc(var(--top-header-height))) !important;
        --widget-width: 15rem !important;
        --widget-height: 33rem !important;
    }

    main {
        margin-top: 0 !important;
    }

    .sidebar {
        border-right: 1px solid var(--chd-grey) !important;
    }

        .sidebar.collapsed header .toggle[b-79bnsfo7mq] {
            right: calc(0.6* var(--nav-toggle-height) - 1.5rem);
        }
}
