
* {
    /*Device*/
    --sidebar-width-small: 3rem !important;
    --top-header-height: 0 !important;
    --main-article-padding-lr: 0 !important;
    --main-article-height: calc(100% - var(--top-header-height)) !important;
    --sidebar-toggle-top: calc(var(--top-header-height) + 0.5rem) !important;
    --main-article-available-height: 100% !important;
    --chd-p-blue: royalblue;
    --chd-p-blue-accent: deepskyblue;
    --chd-p-red-accent: indianred;
    --chd-p-red: red;
}

    *::-webkit-scrollbar {
        display: none;
    }

.fab-navigation {
}

    .fab-navigation .fab-navigation-control {
    }

        .fab-navigation .fab-navigation-control .btn {
            border-radius: calc(var(--floating-action-navigation-size) / 3) !important;
        }

/*Modal*/
.bm-container {
    z-index: 902;
}

.blazored-modal {
    background-color: var(--chd-bg) !important;
    color: var(--chd-font-color) !important;
    max-width: 80vw !important;
    max-height: 80vh !important;
    overflow: scroll !important;
    border-color: var(--chd-main-color-theme) !important;
}

    .blazored-modal.size-extra-large {
        padding:0.5rem;
        width: 90vw;
        height: 100vh;
    }

    .blazored-modal .bm-close {
        color: var(--chd-font-color) !important;
    }

    .blazored-modal::-webkit-scrollbar {
        display: none;
    }

    .blazored-modal .bm-header {
        padding: 0 !important;
    }


    .blazored-modal .blazored-modal-content {
        overflow: auto;
    }


@media (max-width: 360px) {
    * {
        --nav-toggle-height: 1.2rem !important;
        --top-header-padding-tb: 0.2 !important;
        --top-header-height: 1.5rem !important;
        --main-article-height: calc(100vh - calc(var(--top-header-height))) !important;
        --widget-width: 15rem !important;
        --widget-height: 33rem !important;
    }

    main {
        margin-top: 0 !important;
    }

    .sidebar {
        border-right: 1px solid var(--chd-grey) !important;
    }

        .sidebar.collapsed header .toggle[b-79bnsfo7mq] {
            right: calc(0.6* var(--nav-toggle-height) - 1.5rem);
        }
}
