.chd-app-modal-position {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.chd-app-modal {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    width: 100vw;
    background-color: var(--chd-bg);
}

    .chd-app-modal.ios {
    }

        .chd-app-modal.ios .bm-header {
            padding-top: var(--chd-ios-navbar-statusheight) !important;
            font-size: 17pt;
            font-weight: unset;
            color: var(--chd-ios-blue);
        }

            .chd-app-modal.ios .bm-header .bm-close {
                color: var(--chd-ios-blue);
            }

        .chd-app-modal.ios .bm-content {
            padding-bottom: var(--chd-ios-navbar-statusheight) !important;
        }

.chd-app-modal-small {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--chd-bg);
    filter: brightness(1.5);
    border-radius: 5%;
    min-width: 80vw;
}

.chd-app-modal-loading {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background: none;
    filter: brightness(1.5);
    border-radius: 5%;
}

    .chd-app-modal .bm-header,
    .chd-app-modal-loading .bm-header,
    .chd-app-modal-small .bm-header {
        border-bottom: var(--chd-app-layout-default-border);
        padding: 0.5rem 0.75rem !important;
        display: flex;
        justify-content: space-between;
        align-items: center !important;
        height: max-content;
    }

        .chd-app-modal .bm-header .bm-title,
        .chd-app-modal-small .bm-header .bm-title {
            font-size: 1rem;
            font-weight: 700;
            margin: 0;
            word-break: break-word;
        }


.chd-app-modal .bm-content,
.chd-app-modal-small .bm-content {
    overflow: auto;
    height: 100%;
    padding: 0.5rem;
}


.chd-app-modal:has(.bm-content > .loading-prompt:only-child) {
    height: max-content;
    width: max-content;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid var(--chd-green);
}

    .chd-app-modal:has(.bm-content > .loading-prompt:only-child) .loading-prompt * {
        --size: 80vw;
    }


.chd-app-modal-loading .bm-header .bm-title {
    display: none;
}
