main {
    position: absolute;
    left: var(--sidebar-width-small);
    height: var(--main-article-available-height);
    width: calc(100% - var(--sidebar-width-small));
    --main-article-width: 100vw;
}

    main.collapsed-nav {
        left: 0;
        width: 100%;
    }

        main.collapsed-nav ::deep * {
            --main-article-width: 100vw;
        }


article {
    position: relative;
    padding: 0 !important;
}

    article ::deep * {
        max-width: var(--main-article-available-width);
    }

.page.ios {
    --main-article-height: calc(100vh - calc(var(--top-header-height) - 2rem)) !important;
}

    .page.ios main {
        padding: var(--chd-ios-navbar-height) 0 1.5rem 0;
    }

@media only screen and (orientation: landscape) {
    .page.ios {
    }

        .page.ios main {
            padding: 0 0 1.5rem 0;
        }
}
