@inherits PageComponentBase<int,int>
@using Blazored.Toast.Configuration
@using chd.Poomsae.Scoring.Contracts.Interfaces
@using chd.UI.Base.Client.Implementations.Services
@using chd.UI.Base.Contracts.Enum
@inject IScrollInfoService scrollInfoService
@inject IHandleUserIdLogin<int> handleUserIdLogin


<div class="page">
    <SwipeArea PixelToSwipe="10" OnSwipe="this.OnLabelSwiped">
        <div class="sidebar-hover-toggle @(this._navCollapsed ? "auto-collapse": "")" @onmouseover="() => this._navCollapsed = false">
        </div>
    </SwipeArea>

    <NavMenu Visible="!(this._navCollapsed)" />

    <main class="@(this._navCollapsed ? "collapsed-nav" : "")" @onmouseover="() => this._navCollapsed = true">
        <article id="main-article" class="content px-4" @onscroll="scrollInfoService.Scrolled">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                MaxToastCount="3"
                RemoveToastsOnNavigation="true"
                ShowProgressBar="true">
    <CloseButtonContent>
        <div>
            <span>&times;</span>
        </div>
    </CloseButtonContent>
</BlazoredToasts>

@code {
    private bool _navCollapsed = true;

    [Inject] IBroadCastService broadCastService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await this.broadCastService.StartAsync();
        await base.OnInitializedAsync();
    }

    private async Task OnLabelSwiped(ESwipeDirection e)
    {
        if (e == ESwipeDirection.LeftToRight)
        {
            this._navCollapsed = false;
            await this.InvokeAsync(this.StateHasChanged);
        }
    }
}