@using chd.UI.Base.Contracts.Enum

<div class="nav-menu">
    <NavMenuBase Visible="this.Visible">
        <MenuContent>
            <NavItem href="" Match="NavLinkMatch.All" IconFAClass="house" Title="" />
            <NavItem href="singlescore" Match="NavLinkMatch.All" IconFAClass="person" Title="" />
            <NavItem href="eliminationscore" Match="NavLinkMatch.All" IconFAClass="people" Title="" />
            <NavItem href="results" Match="NavLinkMatch.All" IconFAClass="ranking-star" Title="" />
            <AuthorizedNavItem TUserId="Guid" TRightId="int" Rights="[RightConstants.IS_ADMIN]" href="users" IconFAClass="users" Title="" />
            <AuthorizedNavItem TUserId="Guid" TRightId="int" Rights="[RightConstants.IS_ADMIN]" href="devices" IconFAClass="mobile-screen" Title="" />
        </MenuContent>
        <BottomContent>
            <AuthorizedNavItem TUserId="Guid" TRightId="int" Rights="[RightConstants.IS_ADMIN]" href="settings" Match="NavLinkMatch.All" IconFAClass="gears" Title="" />
        </BottomContent>
    </NavMenuBase>
</div>

@code {
    [Parameter] public bool Visible { get; set; } = true;
}