.nav-menu ::deep .sidebar {
    padding: 0;
}

    .nav-menu ::deep .sidebar.collapsed {
    }

        .nav-menu ::deep .sidebar.collapsed .toggle {
            display:none;
        }

     
    .nav-menu ::deep .sidebar.collapsed .menu-bar {
        height: 100%;
    }

        .nav-menu ::deep .sidebar.collapsed .menu-bar .menu .nav-item {
        }

            .nav-menu ::deep .sidebar.collapsed .menu-bar .menu .nav-item .nav-link {
            }

                .nav-menu ::deep .sidebar.collapsed .menu-bar .menu .nav-item .nav-link svg {
                    height: 95%;
                }
