.global-back-button {
    position: absolute;
    z-index: 99;
    padding: 0.2rem;
    border: 1px solid;
    border-radius: 0.5rem;
    left: 0.8rem;
    top: 1.2rem;
    align-content: center;
    align-items: center;
    background: var(--chd-p-blue-transparent);
}

    .global-back-button.hide {
        display: none !important;
    }

    .global-back-button:has(:hover):not(.ios) {
        aspect-ratio: 1/1;
        background: var(--chd-p-blue-semi-transparent);
    }

    .global-back-button:has(:hover) {
        background: var(--chd-p-blue);
    }


    .global-back-button ::deep svg {
        height: 1.5rem;
    }

    .global-back-button.ios:not(.hide) {
        position: fixed;
        display: flex;
        top: var(--chd-ios-navbar-statusheight) !important;
        left: 0;
        width: 100%;
        border: none;
        border-radius: 0;
        background: none;
        color: var(--chd-ios-blue);
        justify-content: space-between;
        padding: calc(var(--chd-ios-navbar-padding-th) / 2) var(--chd-ios-navbar-padding-lr);
    }

        .global-back-button.ios .ios-nav-arrow {
            height: var(--chd-ios-navbar-available-height);
            display: flex;
            margin: 0 5px;
            justify-items: start;
            font-size: 0.9rem;
            align-items: center;
        }

            .global-back-button.ios .ios-nav-arrow ::deep svg {
                fill: var(--chd-ios-blue);
            }


        .global-back-button.ios .ios-nav-right {
            margin: 0 5px;
            justify-items: end;
        }

            .global-back-button.ios .ios-nav-right ::deep button.btn.icon-button {
                background: inherit;
                border: none;
                padding: 0.2rem 0.4rem;
            }

                .global-back-button.ios .ios-nav-right ::deep button.btn.icon-button svg {
                    fill: var(--chd-ios-blue);
                    height: 17pt;
                }


@media only screen and (orientation: landscape) {
    .global-back-button.ios {
        top: calc(var(--chd-ios-navbar-statusheight) / 2) !important;
        padding: 0;
    }

        .global-back-button.ios .ios-nav-right {
            display: none;
        }
}


@media only screen and (orientation: portrait) {
    .global-back-button {
        left: 0.5rem;
        top: 0.5rem;
    }

        .global-back-button.ios {
            background: var(--chd-bg-lighter);
        }

            .global-back-button.ios .ios-nav-arrow {
                margin: 0 5px;
            }

                .global-back-button.ios .ios-nav-arrow ::deep svg {
                    fill: var(--chd-ios-blue);
                }

            .global-back-button.ios .ios-nav-right {
            }
}
