<div class="global-back-button @(this._showBackButton ? "" : " hide ") @(deviceHandler.IsiOS ? "ios" : "") " @onclick="this.HandleBack"><CustomIcon FAClass="arrow-left" /></div>
<CascadingValue IsFixed="true" Value="this">
    @ChildContent
</CascadingValue>
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    [Inject] IDeviceHandler deviceHandler { get; set; }
    [Inject] INavigationHandler navigationHandler { get; set; }


    private bool _showBackButton = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    public async Task SetBackButton(bool value)
    {
        this._showBackButton = value;
        await this.InvokeAsync(this.StateHasChanged);
    }

    private void HandleBack() => this.navigationHandler.NavigateBack(false);


}