.discover-modal-container {
    display:grid;
}

    .discover-modal-container .devices-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

.discover-modal-container .buttons{}
