.discover-modal-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

    .discover-modal-container .devices-container {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        padding: 0.2rem;
        background: var(--chd-bg-lighter);
        border-radius: 0.8rem;
    }



    .discover-modal-container .buttons {
        width: 100%;
        margin-top: auto;
        display: grid;
        padding: 0;
        grid-template-columns: 1fr;
        gap: 0.2rem;
    }

        .discover-modal-container .buttons button.btn-secondary {
            background: var(--chd-bg-lighter);
        }

.ios .discover-modal-container .buttons button.btn-secondary {
    color: var(--chd-ios-blue);
}
