.discover-modal-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

    .discover-modal-container .devices-container {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        padding: 0.2rem;
        background: var(--chd-bg-lighter);
        border-radius: 0.8rem;
    }

       

    .discover-modal-container .buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: auto;
    }
