@implements IDisposable
@using chd.Poomsae.Scoring.Contracts.Dtos
@using chd.Poomsae.Scoring.Contracts.Interfaces

<div class="discover-modal-container">
    <div class="devices-container">
        @foreach (var device in this._discoveredDevices)
        {
            <DiscoveredDeviceComponent Device="device" Selected="d => this._selectedDevices.Any(a => a.Id == d.Id)" OnCLick="this.AddToConnected" />
        }
    </div>
    <div class="buttons">
        <button class="btn btn-primary" @onclick="this.Connect">Verbinden</button>
    </div>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance Instance { get; set; }

    [Inject] IBroadcastClient broadcastClient { get; set; }
    private CancellationTokenSource _cts = new();

    private List<DeviceDto> _discoveredDevices = [];
    private List<DeviceDto> _selectedDevices = [];


    protected override async Task OnInitializedAsync()
    {
        this.broadcastClient.DeviceDiscovered += this.DeviceDiscovered;

        await Task.WhenAny(this.broadcastClient.StartDiscoverAsync(this._cts.Token), Task.Delay(TimeSpan.FromSeconds(20), this._cts.Token));
        await base.OnInitializedAsync();
    }

    private async Task AddToConnected(DeviceDto dto)
    {
        if (this._selectedDevices.Any(a => a.Id == dto.Id))
        {
            this._selectedDevices.Remove(dto);
        }
        else
        {
            this._selectedDevices.Add(dto);
        }
        await this.InvokeAsync(this.StateHasChanged);
    }

    private async Task Connect()
    {
        await this.Instance.CloseAsync(ModalResult.Ok(this._selectedDevices));
    }

    private async void DeviceDiscovered(object? sender, DeviceDto dto)
    {
        if (this._discoveredDevices.Any(a => a.Id == dto.Id)) { return; }
        this._discoveredDevices.Add(dto);
        await this.InvokeAsync(this.StateHasChanged);
    }


    public void Dispose()
    {
        this._cts.Cancel();
        this.broadcastClient.DeviceDiscovered -= this.DeviceDiscovered;
    }
}