.discovered-device {
    border-bottom: 1px solid var(--chd-grey);
    border-radius: 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

    .discovered-device:first-child {
        border-radius: 0.5rem 0.5rem 0 0;
    }
    .discovered-device:last-child {
        border-bottom: none;
        border-radius: 0 0 0.5rem 0.5rem;
    }

    .discovered-device.selected {
        background: var(--chd-grey-semi-transparent);
    }

    .discovered-device ::deep svg {
        height: 1.5rem;
    }

    .discovered-device .name {
    }
