.judges {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.2rem;
    overflow: scroll;
    justify-content: start;
}
    .judges.chong {
        background: var(--chd-p-blue-transparent);
    }

    .judges.hong {
        background: var(--chd-p-red-transparent);
    }