.judge {
    display: flex;
    flex-wrap: wrap;
    background: var(--chd-p-blue-accent-gradient);
    border-radius: 0.5rem;
    padding: 0.2rem;
}

    .judge .name {
        width: 100%;
        font-size: 0.8rem;
        line-height: 0.8rem;
        overflow: hidden;
        height:1em;
        order: 1;
    }

    .judge .score {
        width: 50%;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

        .judge .score.accuracy {
            color: var(--chd-p-accuracy);
            order: 2;
        }

        .judge .score.presentation {
            color: var(--chd-p-presentation);
            order: 3;
        }

.judges.hong .judge {
    background: var(--chd-p-red-accent-gradient-left);
}

    .judges.hong .judge .name {
        text-align: right;
    }

    .judges.hong .judge .score.accuracy {
        order: 3;
    }

    .judges.hong .judge .score.presentation {
        order: 2;
    }



@media only screen and (min-height: 600px) {
    .judge .name {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .judge .score {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}
