.total {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}
.total.chong{
    background:var(--chd-p-blue-transparent);
}
    .total.hong {
        background: var(--chd-p-red-transparent);
    }

    .total .part-score {
        height: 30%;
        width: 50%;
        font-size: 3rem;
        text-align: center;
        align-content: center;
    }

    .total .overall {
        order: 1;
        color: white;
        width: 100%;
        height: 70%;
        font-size: 5rem;
        text-align: center;
        align-content: center;
    }

    .total .part-score.accuracy {
        color: var(--chd-p-accuracy);
        /*background: linear-gradient(to top, gray 0%, transparent 90%);*/
        /*background: var(--chd-p-accuracy-gradient-top);*/
    }

    .total .part-score.presentation {
        color:var(--chd-p-presentation);
        /*background: linear-gradient(to top, darkgrey 0%, transparent 90%);*/
        /*background: var(--chd-p-presentation-gradient-top);*/
    }

    .total.chong .accuracy {
        order: 2;
    }

    .total.chong .presentation {
        order: 3;
    }

    .total.hong .accuracy {
        order: 3;
    }

    .total.hong .presentation {
        order: 2;
    }

    .total.chong .overall {
        background: var(--chd-p-blue-gradient-top);
    }

    .total.hong .overall {
        background: var(--chd-p-red-gradient-top);
    }

    .total.chong.inactive .overall {
        background: var(--chd-p-blue-semi-gradient-top);
    }

    .total.hong.inactive .overall {
        background: var(--chd-p-red-semi-gradient-top);
    }


@media only screen and (max-height: 230px) {
    .total .part-score {
        font-size: 2rem;
    }

    .total .overall {
        font-size: 4rem;
    }
}


@media only screen and (min-height: 450px) {
    .total .part-score {
        font-size: 4rem;
    }

    .total .overall {
        font-size: 7rem;
    }
}

@media only screen and (min-height: 600px) {
    .total .part-score {
        font-size: 5rem;
    }

    .total .overall {
        font-size: 9rem;
    }
}


@media only screen and (min-height: 1000px) {
    .total .part-score {
        font-size: 7rem;
    }

    .total .overall {
        font-size: 12rem;
    }
}

