.total {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

    .total .part-score {
        height: 30%;
        width: 50%;
        font-size: 3rem;
        text-align: center;
        align-content: center;
        border-radius: 0.5rem;
    }

    .total .overall {
        order: 3;
        color: white;
        width: 100%;
        height: 69%;
        border-radius: 0.5rem;
        font-size: 5rem;
        text-align: center;
        align-content: center;
    }

    .total .part-score.accuracy {
        color: var(--chd-p-accuracy);
    }

    .total .part-score.presentation {
        color: var(--chd-p-presentation);
    }

    .total.chong .accuracy {
        order: 2;
    }

    .total.chong .presentation {
        order: 1;
    }

    .total.hong .accuracy {
        order: 1;
    }

    .total.hong .presentation {
        order: 2;
    }

    .total.chong .overall {
        background: var(--chd-p-blue);
    }

    .total.hong .overall {
        background: var(--chd-p-red);
    }

    .total.chong.inactive .overall {
        background: var(--chd-p-blue-semi-transparent);
    }

    .total.hong.inactive .overall {
        background: var(--chd-p-red-semi-transparent);
    }


@media only screen and (max-height: 230px) {
    .total .part-score {
        font-size: 2rem;
    }

    .total .overall {
        font-size: 4rem;
    }
}


@media only screen and (min-height: 450px) {
    .total .part-score {
        font-size: 4rem;
    }

    .total .overall {
        font-size: 7rem;
    }
}

@media only screen and (min-height: 600px) {
    .total .part-score {
        font-size: 5rem;
    }

    .total .overall {
        font-size: 9rem;
    }
}


@media only screen and (min-height: 1000px) {
    .total .part-score {
        font-size: 7rem;
    }

    .total .overall {
        font-size: 12rem;
    }
}

