 .total-result {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

     .total-result .total {
        width: 100%;
        font-size: max(3.5rem,20%);
        line-height: max(3.5rem,20%);
        text-align: center;
        font-weight: bold;
        padding: 0.5rem;
    }

     .total-result.chong .total {
        background-color: var(--chd-p-blue);
    }

     .total-result.hong .total {
        background-color: var(--chd-p-red);
    }

     .total-result .detail {
        width: 50%;
        font-size: 2.4rem;
        line-height: 2.4rem;
        text-align: center;
        border: 1px solid var(--chd-font-color);
        padding: 0.5rem;
    }

         .total-result .detail.accuracy {
            color: orangered;
        }

         .total-result .detail.presentation {
            color: darkorange;
        }
