.round-print-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

    .round-print-container .round-header {
        display: grid;
        grid-template-columns: max-content auto;
        align-items: center;
        gap: 0.2rem 0.4rem;
    }

        .round-print-container .round-header .label {
        }

            .round-print-container .round-header .label ::deep svg {
            }

        .round-print-container .round-header .fighter-name {
            font-weight: bold;
        }

        .round-print-container .round-header .round-name {
            font-weight: bold;
        }

        .round-print-container .round-header .round-date {
            font-weight: bold;
        }

        .round-print-container .round-header .round-total-result {
            grid-column: 1/3;
            display: flex;
            justify-content: space-around;
        }

            .round-print-container .round-header .round-total-result .round-result {
                display: grid;
                justify-items: center;
            }

                .round-print-container .round-header .round-total-result .round-result.total {
                }

                .round-print-container .round-header .round-total-result .round-result.accuracy {
                }

                .round-print-container .round-header .round-total-result .round-result.presentation {
                }

                .round-print-container .round-header .round-total-result .round-result .round-result-label {
                    font-size: 0.7rem;
                }

                .round-print-container .round-header .round-total-result .round-result .round-result-value {
                    font-weight: bold;
                }

    .round-print-container .round-body {
        display: grid;
    }

        .round-print-container .round-body .score-row {
            display: grid;
            grid-template-columns: 3fr repeat(4,1fr);
        }

            .round-print-container .round-body .score-row.header {
                font-size: 0.5rem;
            }
                .round-print-container .round-body .score-row.header .accuracy {
                }

                .round-print-container .round-body .score-row.header .presentation {
                }

            .round-print-container .round-body .score-row .judge-name {
            }

            .round-print-container .round-body .score-row .accuracy {
            }

            .round-print-container .round-body .score-row .presentation {
            }
