.device-name-container {
    display:flex;
    width:100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

    .device-name-container input[type=text] {
        text-align: center;
        padding: 0.2rem;
        border: 1px solid;
        border-radius: 0.5rem;
    }
