.fighter {
    display: grid;
    padding: 0.5rem;
}

    .fighter.fighter-hong {
        text-align: right;
        background: var(--chd-p-red-semi-gradient-left);
    }

    .fighter.fighter-chong {
        background: var(--chd-p-blue-semi-gradient);
    }

    .fighter.fighter-neutral {
        display: flex;
        width: max-content;
        height: 100%;
    }

    .fighter .fighter-scores {
        display: grid;
    }


    .fighter.fighter-hong .fighter-scores {
        grid-template-columns: repeat(4,25%);
    }

    .fighter.fighter-chong .fighter-scores {
        grid-template-columns: repeat(4,25%);
    }

    .fighter.fighter-neutral .fighter-scores {
        display: grid;
        grid-template-columns: repeat(3,25%) 0%;
        grid-gap: 3rem;
    }

    .fighter .fighter-scores .fighter-score {
        align-content: end;
        font-size: 1.5rem;
        text-align: center;
    }



        .fighter .fighter-scores .fighter-score.presentation {
            color: var(--chd-p-presentation);
        }

        .fighter .fighter-scores .fighter-score.accuracy {
            color: var(--chd-p-accuracy);
        }

        .fighter .fighter-scores .fighter-score.total {
            color: var(--chd-p-total);
            font-size: 2.5rem;
            font-weight: bold;
            line-height: 2.5rem;
        }

        .fighter .fighter-scores .fighter-score.part-score {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100%;
        }

            .fighter .fighter-scores .fighter-score.part-score .part-score-title {
                font-size: 0.8rem;
                line-height: 0.8rem;
            }

            .fighter .fighter-scores .fighter-score.part-score .part-score-value {
                font-size: 1.5rem;
                line-height: 1.5rem;
            }

    .fighter.fighter-chong .fighter-scores .action-button {
        align-content:center;
        order: 4;
    }

    .fighter.fighter-chong .fighter-scores .fighter-score.presentation {
        order: 3;
    }

    .fighter.fighter-chong .fighter-scores .fighter-score.accuracy {
        order: 2;
    }

    .fighter.fighter-chong .fighter-scores .fighter-score.total {
        order: 1;
    }

    .fighter.fighter-hong .fighter-scores .fighter-score.presentation {
        order: 1;
    }

    .fighter.fighter-hong .fighter-scores .fighter-score.accuracy {
        order: 2;
    }

    .fighter.fighter-hong .fighter-scores .fighter-score.total {
        order: 3;
    }

    .fighter.fighter-neutral .fighter-scores .action-button {
        order: 4;
        width:0;
    }

    .fighter.fighter-neutral .fighter-scores .fighter-score.presentation {
        order: 3;
    }

    .fighter.fighter-neutral .fighter-scores .fighter-score.accuracy {
        order: 1;
    }

    .fighter.fighter-neutral .fighter-scores .fighter-score.total {
        order: 2;
    }

    @media only screen and (min-height: 500px){
        .fighter .fighter-scores .fighter-score.total {
            font-size: 3.5rem;
            line-height: 3.5rem;
        }
    }