.fighter {
    display: grid;
}

    .fighter.fighter-chong {
        text-align: right;
    }

    .fighter.fighter-hong {
    }

    .fighter.fighter-neutral {
    }

    .fighter .fighter-scores {
        display: grid;
    }

    .fighter.fighter-chong .fighter-scores {
        grid-template-columns: 50% repeat(2,25%);
    }

    .fighter.fighter-hong .fighter-scores {
        grid-template-columns: repeat(2,25%) 50%;
    }

    .fighter.fighter-neutral .fighter-scores {
        grid-template-columns: repeat(2,25%) 50%;
    }



    .fighter .fighter-scores .fighter-score {
        align-content: end;
        font-size: 1.5rem;
    }

        .fighter .fighter-scores .fighter-score.presentation {
            color: darkorange;
        }

        .fighter .fighter-scores .fighter-score.accuracy {
            color: orangered;
        }

        .fighter .fighter-scores .fighter-score.total {
            color: yellow;
            font-size: 2.3rem;
            font-weight: bold;
            line-height: 2.3rem;
        }

    .fighter.fighter-hong .fighter-scores .fighter-score.presentation {
        order: 3;
    }

    .fighter.fighter-hong .fighter-scores .fighter-score.accuracy {
        order: 2;
    }

    .fighter.fighter-hong .fighter-scores .fighter-score.total {
        order: 1;
    }

    .fighter.fighter-neutral .fighter-scores .fighter-score.presentation {
        order: 3;
    }

    .fighter.fighter-neutral .fighter-scores .fighter-score.accuracy {
        order: 2;
    }

    .fighter.fighter-neutral .fighter-scores .fighter-score.total {
        order: 1;
    }
