@using chd.Poomsae.Scoring.Contracts.Dtos
@using chd.Poomsae.Scoring.UI.Extensions
<div class="fighter @this.__css">
    <div class="fighter-scores">
        <div class="fighter-score presentation">@this.Score.Presentation.ToDisplayString()</div>
        <div class="fighter-score accuracy">@this.Score.Accuracy.ToDisplayString()</div>
        <div class="fighter-score total">@this.Score.Total.ToDisplayString()</div>
    </div>
</div>
@code {
    [Parameter] public ScoreDto Score { get; set; }
    [Parameter] public bool IsRed { get; set; }

    private string __css => this.IsRed ? "fighter-hong" : "fighter-chong";
}