.fighter {
    display: grid;
}

    .fighter.fighter-hong {
        text-align: right;
    }

    .fighter.fighter-chong {
    }

    .fighter.fighter-neutral {
        display:flex;
        width:max-content;
    }

    .fighter .fighter-scores {
        display: grid;
    }


    .fighter.fighter-hong .fighter-scores {
        grid-template-columns: 50% repeat(2,25%);
    }

    .fighter.fighter-chong .fighter-scores {
        grid-template-columns: repeat(2,25%) 50%;
    }

    .fighter.fighter-neutral .fighter-scores {
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-gap: 3rem;
    }

    .fighter .fighter-scores .fighter-score {
        align-content: end;
        font-size: 1.5rem;
    }

        .fighter .fighter-scores .fighter-score.presentation {
            color: var(--chd-p-presentation);
        }

        .fighter .fighter-scores .fighter-score.accuracy {
            color: var(--chd-p-accuracy);
        }

        .fighter .fighter-scores .fighter-score.total {
            color: var(--chd-p-total);
            font-size: 2.3rem;
            font-weight: bold;
            line-height: 2.3rem;
        }

    .fighter.fighter-chong .fighter-scores .fighter-score.presentation {
        order: 3;
    }

    .fighter.fighter-chong .fighter-scores .fighter-score.accuracy {
        order: 2;
    }

    .fighter.fighter-chong .fighter-scores .fighter-score.total {
        order: 1;
    }
    .fighter.fighter-hong .fighter-scores .fighter-score.presentation {
        order: 1;
    }

    .fighter.fighter-hong .fighter-scores .fighter-score.accuracy {
        order: 2;
    }

    .fighter.fighter-hong .fighter-scores .fighter-score.total {
        order: 3;
    }

    .fighter.fighter-neutral .fighter-scores .fighter-score.presentation {
        order: 3;
    }

    .fighter.fighter-neutral .fighter-scores .fighter-score.accuracy {
        order: 1;
    }

    .fighter.fighter-neutral .fighter-scores .fighter-score.total {
        order: 2;
    }
