.scoring-summary-container {
    padding-top: 10vh;
    display: grid;
    grid-gap: 0.5rem;
}

    .scoring-summary-container .scores-group {
        display: grid;
        grid-gap: 0.2rem;
        border-top: 1px solid var(--chd-font-color);
        border-bottom: 1px solid var(--chd-font-color);
        border-radius: 0.5rem;
    }

        .scoring-summary-container .scores-group .scores {
            border-top: 1px solid var(--chd-grey-semi-transparent);
            border-bottom: 1px solid var(--chd-grey-semi-transparent);
            border-radius: 0.5rem;
            display: grid;
            grid-template-columns: max-content auto max-content;
            text-align: center;
            font-size: 0.8rem;
            align-items: center;
        }

            .scoring-summary-container .scores-group .scores .score {
                padding: 0 0.5rem 0 0.5rem;
                font-size: 1.1rem;
                font-weight: 600;
                color: white;
            }

                .scoring-summary-container .scores-group .scores .score.score-chong {
                    background-color: var(--chd-p-blue);
                    border-radius: 0.5rem;
                }

            .scoring-summary-container .scores-group .scores.accuracy .score.score-chong {
                background-color: var(--chd-p-blue-accent);
            }

            .scoring-summary-container .scores-group .scores.accuracy .score.score-hong {
                background-color: var(--chd-p-red-accent);
            }

            .scoring-summary-container .scores-group .scores .score.score-hong {
                background-color: var(--chd-p-red);
                border-radius: 0.5rem;
            }

        .scoring-summary-container .scores-group.finish {
            grid-template-columns: auto;
            border: none;
            justify-content: center;
        }

            .scoring-summary-container .scores-group.finish .scores > div {
                border: 1px solid var(--chd-font-color);
                border-radius: 0.8rem;
                padding: 0.2rem 0.8rem 0.2rem 0.8rem;
                width: max-content;
                font-weight: 600;
                font-size: 1rem;
            }

.single-run-container .scoring-summary-container .scores-group .scores .scores-names {
    order: 2
}

.single-run-container .scoring-summary-container .scores-group .scores .score.score-chong {
    order: 1;
}
.single-run-container .scoring-summary-container .scores-group .scores .score.score-hong {
    order: 3;
}
