.scoring .scoring-button {
}

.scoring.button-blue .scoring-button {
    background: var(--chd-p-blue);
}

.scoring.button-red .scoring-button {
    background: var(--chd-p-red);
}

.scoring.button-left .scoring-button {
    border-radius: 0 var(--button-radius) var(--button-radius) 0;
    padding: 0.1rem 0;
    box-shadow: var(--chd-font-color) 1px 0 0.1rem;
}

.scoring.button-right .scoring-button {
    border-radius: var(--button-radius) 0 0 var(--button-radius);
    box-shadow: var(--chd-font-color) -1px 0 0.1rem;
}


.scoring.button-blue .scoring-button .scoring-button-inner {
    background: var(--chd-p-blue-accent);
}

.scoring.button-red .scoring-button .scoring-button-inner {
    background: var(--chd-p-red-accent);
}

.scoring.button-left .scoring-button .scoring-button-inner {
    border-radius: 0 var(--button-radius) var(--button-radius) 0;
    box-shadow: var(--chd-font-color) 1px 0 0.1rem;
    justify-content: end;
    border-right: 0px;
}

.scoring.button-right .scoring-button .scoring-button-inner {
    border-radius: var(--button-radius) 0 0 var(--button-radius);
    box-shadow: var(--chd-font-color) -1px 0 0.1rem;
    border-right: 0px;
    justify-content: start;
    order: 2;
}

.scoring-button {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .scoring-button .scoring-button-inner {
        height: 100%;
        width: 65%;
        padding: 0.2rem;
        display: flex;
        align-items: center;
    }

        .scoring-button .scoring-button-inner .scoring-button-inner-button {
            aspect-ratio: 1/1;
            height: min(8rem,100%);
            border: 1px solid white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: inherit;
        }

            .scoring-button .scoring-button-inner .scoring-button-inner-button:active {
                border-width: 2px;
            }

            .scoring-button .scoring-button-inner .scoring-button-inner-button .scoring-button-inner-button-value {
                color: white;
                font-weight: bold;
                font-size: 2.8rem;
            }

    .scoring-button.scoring-button-small .scoring-button-inner .scoring-button-inner-button .scoring-button-inner-button-value {
        font-size: 1.5rem;
    }


    .scoring-button .scoring-button-outer-button {
        aspect-ratio: 1/1;
        height: min(5rem,50%);
        border: 1px solid black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: inherit;
        color: black;
    }

.scoring.button-left .scoring-button .scoring-button-outer-button {
    margin-right: 0.5vw;
}

.scoring.button-right .scoring-button .scoring-button-outer-button {
    margin-left: 0.5vw;
    order:1;
}


.scoring-button .scoring-button-outer-button:active {
    border-width: 2px;
}

.scoring-button .scoring-button-outer-button .scoring-button-outer-button-value {
    font-size: 1rem;
}

    .scoring-button .scoring-button-outer-button .scoring-button-outer-button-value ::deep svg {
        fill: black;
    }

.scoring-button.scoring-button-big {
    height: 35vh;
}

    .scoring-button.scoring-button-big .scoring-button-inner .scoring-button-inner-button {
        margin: min(1rem,1%);
    }

.scoring-button.scoring-button-small {
    height: 20vh;
    width: 80%;
}
