.scoring-summary-container {
    padding-top: 10vh;
    display: grid;
    grid-gap: 0.5rem;
    justify-items: center;
}

    .scoring-summary-container .device-name {
        border: 1px solid;
        text-align: center;
        padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        border-radius: 0.5rem;
        font-size: 0.8rem;
        width: max-content;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

        .scoring-summary-container .device-name ::deep svg {
            height: 1.2rem;
        }

    .scoring-summary-container .scores-group {
        display: grid;
        grid-gap: 0.2rem;
        border-top: 1px solid var(--chd-font-color);
        border-bottom: 1px solid var(--chd-font-color);
        border-radius: 0.5rem;
        width: 100%;
    }

        .scoring-summary-container .scores-group .scores {
            border-top: 1px solid var(--chd-grey-semi-transparent);
            border-bottom: 1px solid var(--chd-grey-semi-transparent);
            border-radius: 0.5rem;
            display: grid;
            grid-template-columns: max-content auto max-content;
            text-align: center;
            font-size: 0.8rem;
            align-items: center;
        }

            .scoring-summary-container .scores-group .scores.accuracy .scores-names {
                background: linear-gradient(to left, var(--chd-p-accuracy-transparent) 0%, var(--chd-p-accuracy-semi-transparent) 50%,var(--chd-p-accuracy-transparent) 99%);
                box-shadow: var(--chd-p-accuracy-semi-transparent) 0 1px 3px, var(--chd-p-accuracy-semi-transparent) 0 -1px 3px;
            }

            .scoring-summary-container .scores-group .scores.presentation .scores-names {
                background: linear-gradient(to left, var(--chd-p-presentation-transparent) 0%, var(--chd-p-presentation-semi-transparent) 50%,var(--chd-p-presentation-transparent) 99%);
                box-shadow: var(--chd-p-presentation-semi-transparent) 0 1px 3px, var(--chd-p-presentation-semi-transparent) 0 -1px 3px;
            }

            .scoring-summary-container .scores-group .scores .score {
                padding: 0 0.5rem 0 0.5rem;
                font-size: 1.1rem;
                font-weight: 600;
                color: white;
                box-shadow: var(--chd-font-color) -1px 0 2px, var(--chd-font-color) 1px 0 2px;
            }

                .scoring-summary-container .scores-group .scores .score.score-chong {
                    background-color: var(--chd-p-blue);
                    border-radius: 0.5rem;
                }

                .scoring-summary-container .scores-group .scores .score.score-hong {
                    background-color: var(--chd-p-red);
                    border-radius: 0.5rem;
                }

            .scoring-summary-container .scores-group .scores.accuracy .score.score-chong {
                background-color: var(--chd-p-blue-accent);
            }

            .scoring-summary-container .scores-group .scores.accuracy .score.score-hong {
                background-color: var(--chd-p-red-accent);
            }



        .scoring-summary-container .scores-group.finish {
            grid-template-columns: auto;
            border: none;
            justify-content: center;
        }

            .scoring-summary-container .scores-group.finish .scores > div {
                border: 1px solid var(--chd-font-color);
                border-radius: 0.8rem;
                padding: 0.2rem 0.8rem 0.2rem 0.8rem;
                width: max-content;
                font-weight: 600;
                font-size: 1rem;
            }

.single-run-container .scoring-summary-container .scores-group .scores .scores-names {
}

.single-run-container .scoring-summary-container .scores-group .scores .score.score-chong {
}

.single-run-container .scoring-summary-container .scores-group .scores .score.score-hong {
}
