.scoring-summary-container {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    height: 90%;
    width: 100%;
}

    .scoring-summary-container .device-name {
        border: 1px solid;
        text-align: center;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 0.8rem;
        line-height: 0.8rem;
        width: max-content;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        order: 2;
    }

        .scoring-summary-container .device-name ::deep svg[fontawesome-icon=user-tie] {
            margin-top: -0.2rem;
            height: 1rem;
        }
         .scoring-summary-container .device-name ::deep svg[fontawesome-icon=bluetooth] {
            margin-top: -0.2rem;
            height: 1rem;
            background:var(--chd-bluetooth-blue);
            border-radius: 50%;
            padding:0.1rem;
            opacity:01;
            border:1px solid;
        }

    .scoring-summary-container .scores-group {
        display: grid;
        grid-gap: 0.2rem;
        border-top: 1px solid var(--chd-font-color);
        border-bottom: 1px solid var(--chd-font-color);
        border-radius: 0.5rem;
        width: 100%;
    }
