.scoring {
    display: flex;
    flex-direction: column;
    padding: 5vh 0 5vh 0;
    gap: 8vh;
    --button-radius: 20vh;
}

    .scoring.scoring-chong {
        justify-items: end;
        align-items: end;
    }

        .scoring.scoring-chong ::deep .scoring-button {
            justify-items: end;
            align-items: end;
        }


    /*.scoring.scoring-neutral {
        justify-items: end;
        align-items: end;
    }

        .scoring.scoring-neutral ::deep .scoring-button {
            justify-items: end;
            align-items: end;
        }
*/