@using chd.UI.Base.Contracts.Enum
@implements IDisposable

<div class="send-button" @onclick="this.HandleState">
    @switch (this.State, this.broadCastService.ConnectedDevices > 0)
    {
        case (ERunState.Started, true):
            <CustomIcon Style="EIconStyle.Regular" FAClass="paper-plane" />
            break;

        case (ERunState.Started, false):
            <CustomIcon FAClass="thumbs-up" />
            break;
        default:
            <CustomIcon FAClass="rotate-left" />
            break;
    }
</div>

@code {
    [Inject] IBroadCastService broadCastService { get; set; }

    [Parameter] public Func<Task> HandleState { get; set; }
    [Parameter] public ERunState State { get; set; }


    protected override async Task OnInitializedAsync()
    {
        this.broadCastService.DeviceConnectionChanged += this.DeviceConnectionChanged;
        await base.OnInitializedAsync();
    }

    private async void DeviceConnectionChanged(object? sender, DeviceConnectionChangedEventArgs e)
    {
        await this.InvokeAsync(this.StateHasChanged);
    }

    public void Dispose()
    {
        this.broadCastService.DeviceConnectionChanged -= this.DeviceConnectionChanged;
    }
}