@using chd.Poomsae.Scoring.UI.Extensions
<div class="fighter-results">
    <div class="fighter-score presentation">@_presentationValue.ToDisplayString("")</div>
    <div class="fighter-score accuracy">@_accuracyValue.ToDisplayString("")</div>
</div>

@code {
    [Parameter] public FighterDto Fighter { get; set; }


    private decimal? _presentationValue
    {
        get
        {
            return null;
        }
    }

    private decimal? _accuracyValue
    {
        get
        {
            return null;
        }
    }
}