@using chd.Poomsae.Scoring.UI.Extensions
<div class="fighter-results">
    @foreach(var round in this.Fighter.Rounds.OrderBy(o => o.Created))
    {
        <FighterRound Round="round" />
    }
</div>

@code {
    [Parameter] public FighterDto Fighter { get; set; }
}