.fighter-modal-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
}

    .fighter-modal-container .fighter-section {
        padding: 0.2rem;
        background: var(--chd-bg-lighter);
        border-radius: 0.8rem;
    }

        .fighter-modal-container .fighter-section .section-title {
            font-size: 0.7rem;
            line-height:0.7rem;
            color: var(--chd-grey);
            grid-column: 2;
            padding: 0 0.4rem;
        }

        .fighter-modal-container .fighter-section.data {
            display: grid;
            grid-template-columns: max-content auto;
            gap: 0.2rem;
        }

            .fighter-modal-container .fighter-section.data .label {
                padding: 0.2rem 0.2rem;
            }

                .fighter-modal-container .fighter-section.data .label ::deep svg {
                    height: 1rem;
                }

            .fighter-modal-container .fighter-section.data input[type=text] {
                padding: 0 0.2rem;
                border: none;
                background: none;
                width: 100%;
                color: var(--chd-font-color);
                border-bottom: 1px solid var(--chd-grey);
            }

                .fighter-modal-container .fighter-section.data input[type=text]:last-child {
                    border-bottom: none;
                }

                .fighter-modal-container .fighter-section.data input[type=text]:focus, .fighter-modal-container .fighter-section.data input[type=text]:active {
                    outline: none;
                    color: white;
                }

        .fighter-modal-container .fighter-section.rounds {
            display:flex;
            flex-direction:column;
        }

        .fighter-modal-container .fighter-section.buttons {
            padding: 0 0.8rem;
            background: var(--chd-bg);
            border-radius: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: auto;
        }

            .fighter-modal-container .fighter-section.buttons ::deep button.icon-button {
                background: none;
                padding: 0.2rem 0.4rem;
            }

                .fighter-modal-container .fighter-section.buttons ::deep button.icon-button svg {
                    height: 1.4rem;
                }
