.fighter-results {
    display:flex;
    gap:0.5rem;
    padding:0.2rem;
}

    .fighter-results .fighter-score {
    }

        .fighter-results .fighter-score.presentation {
            color: var(--chd-p-presentation);
        }

        .fighter-results .fighter-score.accuracy {
            color: var(--chd-p-accuracy);
        }
