.round-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
}

    .round-container .round-header {
        display: flex;
        flex-direction: column;
        padding: 0.2rem;
        background: var(--chd-bg-lighter);
        border-radius: 0.8rem;
    }

        .round-container .round-header .round-header-data {
            border-bottom: 1px solid var(--chd-grey);
            align-content: center;
            align-items: center;
            display: grid;
            grid-template-columns: max-content auto;
            gap: 0.5rem;
            padding: 0.2rem 0.5rem;
        }

            .round-container .round-header .round-header-data:last-child {
                border-bottom: none;
            }

            .round-container .round-header .round-header-data ::deep .icon-button svg {
                padding: 0.2rem 0.4rem;
                background: none;
            }

            .round-container .round-header .round-header-data ::deep svg {
                align-self: center;
            }

            .round-container .round-header .round-header-data.fighter-name {
            }

            .round-container .round-header .round-header-data.round-name {
            }

                .round-container .round-header .round-header-data.round-name input[type=text] {
                    width: 100%;
                    border: none;
                    padding: 0 0.2rem;
                    background: none;
                    color: var(--chd-font-color);
                }

                    .round-container .round-header .round-header-data.round-name input[type=text]:active,
                    .round-container .round-header .round-header-data.round-name input[type=text]:focus {
                        outline: none;
                        color: white;
                    }

            .round-container .round-header .round-header-data.round-date {
            }

            .round-container .round-header .round-header-data.round-total-scores {
                grid-template-columns: max-content repeat(3,auto);
            }

        .round-container .round-header .round-total-scores .round-total {
            text-align: center;
        }

            .round-container .round-header .round-total-scores .round-total.presentation {
                color: var(--chd-p-presentation);
            }

            .round-container .round-header .round-total-scores .round-total.accuracy {
                color: var(--chd-p-accuracy);
            }

            .round-container .round-header .round-total-scores .round-total.total {
                color: var(--chd-p-total);
            }


    .round-container .round-scores {
        display: flex;
        flex-direction: column;
        padding: 0.2rem;
        gap: 0.2rem;
        background: var(--chd-bg-lighter);
        border-radius: 0.8rem;
    }

    .round-container .round-buttons {
        padding: 0 0.8rem;
        background: var(--chd-bg);
        border-radius: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: auto;
    }

        .round-container .round-buttons ::deep button.icon-button {
            background: none;
            padding: 0.2rem 0.4rem;
        }

            .round-container .round-buttons ::deep button.icon-button svg {
                height: 1.4rem;
            }
