.score-container {
    display: grid;
    grid-template-columns: repeat(5,auto) max-content;
    align-items: center;
    gap: 0.1rem;
    border-bottom: 1px solid var(--chd-grey);
    padding: 0 0.2rem;
}

    .score-container:last-child {
        border-bottom: none;
    }

    .score-container .judge {
        font-size: 0.8rem;
    }

    .score-container .score {
    }

    .score-container .action {
    }

        .score-container .action ::deep button.btn {
            padding:0;
            background:none;
        }

            .score-container .action ::deep button.btn svg {
            }

    .score-container .score.accuracy {
        color: var(--chd-p-accuracy);
    }

    .score-container .score.presentation {
        color: var(--chd-p-presentation);
    }
